/* import font mogra dan poppins di google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Untuk Body */
body{
    margin: 0;
    padding: 0;
    margin-left: 573px;
    margin-top: 145px;
}

/* text nama overview - 2 */
*{ 
    color:black; 
    text-decoration: none;
}

.kotak-navbar{
    position: absolute;
    width: 1366px;
    height: 86px;
    left: 0px;
    top: 0px;
    background: #C4C4C4;
    visibility: hidden;
}

/* Untuk Logo Navbar */
.logo-navbar{
    position: absolute;
    width: 184px;
    height: 43px;
    left: 78px;
    top: 24px;
    font-family: Mogra;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
}

/* text about navbar */
.about-navbar{
    position: absolute;
    width: 72px;
    height: 36px;
    left: 754px;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

/* text blog navbar */
.blog-navbar{
    position: absolute;
    width: 54px;
    height: 36px;
    left: 945px;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

/* text buku tamu navbar  */
.buku-tamu-navbar{
    position: absolute;
    width: 131px;
    height: 36px;
    left: 1118px;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

/* text buku tamu */
.judul-buku-tamu{
    position: absolute;
    width: 241px;
    height: 58px;
    left: 70px;
    top: 85px;
    font-family: Mogra;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 58px;
}

/* garis pada buku tamu */
.garis-buku-tamu{
    position: absolute;
    width: 1025px;
    height: 0px;
    left: 271px;
    top: 110px;
    border: 2px solid #000000;
}

/* text nama */
.nama-tabel{
    position: absolute;
    width: 75px;
    height: 36px;
    left: 72px;
    top: 146px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
}

/* tabel nama */
.tabel-nama{
    position: absolute;
    left: 156px;
    top: 137px;
}

/* text email */
.email-tabel{
    position: absolute;
    width: 75px;
    height: 36px;
    left: 72px;
    top: 201px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
}

/* tabel email */
.tabel-email{
    position: absolute;
    left: 156px;
    top: 190px;
}

/* text pesan */
.pesan-tabel{
    position: absolute;
    width: 75px;
    height: 36px;
    left: 72px;
    top: 250px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
}

/* tabel pesan */
.tabel-pesan{
    position: absolute;
    left: 156px;
    top: 241px;
}

/* button submit */
.submit{
    position: absolute;
    left: 190px;
    top: 410px;
}

/* text footer */
footer{
    position: absolute;
    width: 460px;
    height: 27px;
    left: calc(50% - 460px/2);
    top: calc(50% - 141px/2 + 350.5px);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

/* icon heard menjadi merah yang awalannya hitam */
.heard-red{
    color: red;
    margin-left: 54px;
    margin-top: 1px;
}

/* CSS - Custom */
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline-2::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline-3::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

input[type=text], select {
    width: 150%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=email], select {
    width: 150%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 140%;
    padding: 4px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 350%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

/* Effect */
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: -3.5px;
        right: auto;
        width: 100%;
      }
}
  
@media (hover: hover) and (pointer: fine) {
      .underline-2:hover::before{
        left: -10.5px;
        right: auto;
        width: 100%;
      }
}

@media (hover: hover) and (pointer: fine) {
    .underline-3:hover::before{
      left: -30px;
      right: auto;
      width: 100%;
    }
}